{% extends "base.html" %}
{% block title %}Ladder | Uma Ladder{% endblock %}

{% block content %}
<h2>📊 Season Leaderboard</h2>

{% if leaderboard %}
<table class="table table-striped mt-4">
  <thead class="table-light">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Races</th>
      <th>Total Points</th>
      <th>Avg Points</th>
    </tr>
  </thead>
  <tbody>
    {% for player in leaderboard %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="{{ url_for('player_profile', player_name=player.player_name) }}">
            {{ player.player_name }}
      </a>
    </td>
      <td>{{ player.races }}</td>
      <td>{{ player.total_points }}</td>
      <td>{{ "%.2f"|format(player.avg_points) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No results yet. Ladder will appear once races are submitted.</p>
{% endif %}
{% endblock %}
